#intro{
  text-align: center;
  color: white;
  background-color: black;
}
@media only screen and (max-width: 850px) {
  #laptopnav {
    display: none;
  }
}
@media only screen and (min-width: 851px) {
  #phonenav {
    display: none;
  }
}

.cen{
  text-align: center;
}
