#intro{
  text-align: center;
  color: white;
  background-color: black;
}
@media only screen and (max-width: 850px) {
  #laptopnav {
    display: none;
  }
}
@media only screen and (min-width: 851px) {
  #phonenav {
    display: none;
  }
}

.cen{
  text-align: center;
}
.nav-link{
  color: White;
  text-decoration: none;
}
.nav-link:hover{
  color:#2d3047;
}
@media only screen and (min-width: 851px) {
  #phonenav {
    display: none;
  }
}

.cen{
  text-align: center;
}
#phonenav button{
  margin-bottom: 6px;
}
.rocket{
  color: #eff0d1;
}
.rocket:hover{
  color:#77ba99;
}

.purple > a.active {
    background-color: #7b8cde!important;
}
.green>a.active{
  background-color: #3ba99c!important;
}
.btn-1:hover{
  background-color: #7b8cde!important;
}
.btn-2:hover{
  background-color: #3ba99c!important;
}
